@import "/src/assets/styles/scss/colors.scss";

.partner-wrapper {
  height: 100%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: #ffffff;
  box-shadow: 0 1px 15px rgb(0 0 0 / 24%), 0 1px 6px rgb(0 0 0 / 24%);
}

.side-navigation {
  list-style: none;
  text-align: center;

  a {
    color: $menu-icon-color;
  }

  .side-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 1.7rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;

    p {
      font-size: 0.7rem;
      color: $text-color;
      letter-spacing: 1px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
