@import "/src/assets/styles/scss/colors.scss";

.content-wrapper {
  .category-coursel-slide-wrapper {
    margin-bottom: 1rem;
  }

  .category-coursel-wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
}
